body {
  margin: 7px 0 0 0;
  width: 100%;
  background-color: #f8efde;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

button:hover, ul{
  cursor: pointer;
}

.hero-section {
  display: flex;
  justify-content: space-evenly;
}

.border-radius {
  border-radius: 25px;
}

.display-hidden {
  visibility: hidden;
}

.display-none {
  display: none !important;
}

.margin-title {
  margin: 25px;
  width: 95% !important;
}

.text-align-center {
  text-align: center;
}

.title {
  font-family: "Averia Serif Libre", serif;
  color: #cf4538;
  font-style: italic;
  font-size: 2.5rem;
}
.title h2 {
  margin-bottom: 10px;
}

.font-style {
  font-family: "Averia Serif Libre", serif;
}

.card-color-blue {
  background-color: #abcad9;
}
.card-color-yellow {
  background-color: #fdd57b;
}
.card-color-pink {
  background-color: #ffb6bf;
}
.card-color-red {
  background-color: #cf4538;
}

.txt-color h3 {
  color: #f8efde !important;
}

.section-1 {
  width: 49%;
  height: 38rem;
  background-color: #ffb5bf;
}
.header-1 {
  width: 80%;
  height: 10%;
  color: #cf4538;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0px 0px 10px;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 14px;
  padding: 0;
}
li {
  list-style: none;
}
a {
  font-family: "Averia Serif Libre", serif;
  font-size: 35px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  font-weight: 700;
}
.nav-bar-1 {
  height: 80%;
  font-family: "Outfit", sans-serif;
  background-color: #f8efde;
  width: 85%;
  border-radius: 26px;
  display: flex;
  justify-content: space-evenly;
}
.nav-bar-1 nav {
  width: 100%;
}
.logo {
  background-color: #f8efde;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-style: italic;
}

.logo: hover{
  cursor: pointer;
}

.hero-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 75%;
}
.hero-title {
  font-family: "Averia Serif Libre", serif;
  color: #cf4538;
  font-style: italic;
  font-size: 6rem;
  text-align: center;
}

.hero-title h1 {
  margin: 26px 0px 26px 0px;
}

.hero-text {
  font-family: "Outfit", sans-serif;
  width: 69%;
  text-align: center;
  font-size: 20px;
}

.catalog-button {
  height: 45px;
  width: 14rem;
}
.catalog-button button {
  height: 100%;
  width: 100%;
  font-family: "Outfit", sans-serif;
  background-color: #cf4538;
  border: none;
  color: #f8efde;
  border-radius: 25px;
  font-size: 15px;
}

.section-2 {
  width: 49%;
  height: 38rem;
  background-color: #cf4538;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bar-2 {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icons {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #f8efde;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons:hover{
  cursor: pointer;
}

.icons-section {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 10px 0px 0px;
}

.hero-image {
  display: flex;
  height: 30rem;
  width: 33rem;
  background-color: #f8efde;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.hero-image img {
  height: 85%;
}
.section-2-content {
  display: flex;
  height: 95%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bestseller-section {
  height: 40rem;
  width: 100%;
}

.product-card-section {
  height: 60%;
  width: 100%;
  display: flex;
  overflow-x: hidden;
}

.product-card {
  height: 100%;
  flex: 0 0 26%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}
.card-img {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hit-tag {
  height: 24px;
  width: 4.5em;
  background-color: #cf4538;
  border-radius: 25px;
  margin-left: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8efde;
  font-family: "Outfit", sans-serif;
  font-size: 13px;
}

.product-tag {
  height: 20%;
  display: flex;
  gap: 15rem;
  align-items: center;
  justify-content: flex-end;
}

.favorite-tag {
  margin-right: 13px;
  height: 30px;
  width: 30px;
  background-color: #cf4538;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-tag:hover{
  cursor: pointer;  
}

.favorites-icon {
  height: 20px;
}

.product-img {
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-img img {
  height: 14rem;
}

.card-tag {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  background-color: #fcf6ed;
  border-radius: 35px;
  width: 92%;
  padding: 0px 13px 0 13px;
}
.cart-icon-bs {
  height: 2rem;
  width: 2rem;
  background-color: #cf4538;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Averia Serif Libre", serif;
  color: #cf4538;
  font-weight: 700;
}
.product-desc {
  font-family: "Outfit", sans-serif;
  color: #cf4538;
  font-size: 13px;
}
.product-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.style-section {
  display: flex;
  width: 100%;
  height: 40rem;
  justify-content: center;
}
.style-img-1 {
  height: 37rem;
  width: 50%;
}
.style-img-1 img {
  height: 100%;
}
.style-img-2 img {
  height: 100%;
}

.style-img-2 {
  height: 20rem;
}
.style-sub-section {
  height: 93%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.style-desc h2 {
  font-family: "Averia Serif Libre", serif;
  margin-top: 0px;
}
.style-desc span {
  font-family: "Outfit", sans-serif;
  color: #cf4538;
  font-size: 16px;
}

.style-section-main {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.style-desc span {
  font-family: "Outfit", sans-serif;
  color: #cf4538;
  font-size: 16px;
}

.bestseller-title {
  margin-left: 15px;
}

.horizontal-scroll {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px 0 25px 0;
}
.scroll-base {
  width: 98%;
  border: 5px;
  border-radius: 25px;
  background-color: hsl(5, 61%, 88%);
}
.scroll-main {
  width: 47%;
  border: 5px solid #cf4538;
  border-radius: 25px;
}

.show-more-bttn {
  width: 98%;
  display: flex;
  justify-content: flex-end;
}

.show-more-bttn button {
  height: 40px;
  border-radius: 25px;
  width: 9rem;
  border: none;
  background-color: #cf4538;
  color: #f8efde;
  font-family: "Outfit", sans-serif;
  font-size: 14px;
}

.style-img-2-bg {
  width: 100%;
  height: 72%;
  background-color: #abcad9;
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-card {
  display: flex;
  width: 98%;
  max-height: 12rem;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-evenly;
}

.category-card-txt span {
  font-family: "Outfit", sans-serif;
  color: #cf4538;
  font-size: 18px;
  width: 85%;
}

.categories-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.category-img {
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px 15px 0;
}
.category-img img {
  width: 37%;
}
.category-card-txt {
  width: 72%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.category-card-txt h3 {
  margin: 0 0 10px 0;
  font-family: "Averia Serif Libre", serif;
  font-style: italic;
  font-size: 3rem;
  color: #cf4538;
}

.create-section {
  height: 35rem;
  width: 98%;
  margin-top: 8rem;
}

.create-top-section {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
}
.create-title {
  width: 60%;
  margin-left: 2rem;
}

.create-bttn {
  width: 12%;
}

.create-title h2 {
  margin-top: 0px;
}

.create-txt span {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
}

.create-txt {
  margin: 0 0 2rem 2.5rem;
  width: 50%;
}

.create-images {
  width: 62%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.create-img-1 {
  margin-left: 2rem;
  width: 100%;
  background-color: #f8efde;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-img-1 img {
  height: 14rem;
}

.create-img-2 {
  height: 25rem;
  position: absolute;
  left: 50rem;
  bottom: 0rem;
}

.create-img-2 img {
  height: 100%;
  border-radius: 25px;
}

.journal-section {
  width: 95%;
  height: 33rem;
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
  align-items: center;
}

.journal-img {
  height: 88%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.journal-img img {
  height: 90%;
}

.links {
  width: 60%;
  height: 56%;
  font-family: "Averia Serif Libre", serif;
  font-style: italic;
  font-size: 2.5rem;
  color: #cf4538;
}

.links li {
  width: 85%;
}

.links ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 14px;
  padding: 0;
}

.links ul:hover {
  text-decoration: underline;
}

footer {
  width: 98%;
  height: 18rem;
  display: flex;
  justify-content: space-around;
  color: #f8efde;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px
}

.footer-top-section {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links-section {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

hr {
  border: none;
  height: 0.5px;
  background-color: #f8efde;
}

.company-name {
  display: flex;
  height: 100%;
  width: 23%;
  font-size: 50px;
  justify-content: center;
}

.company-name h1 {
  font-style: italic;
  height: 93%;
  margin-top: 10px;
}

.footer-links h4 {
  font-family: "Averia Serif Libre", serif;
  margin: 10px 0 10px 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-links li {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 100;
  font-size: 13px;
}

.footer-links ul {
  margin: 0;
}

.footer-links ul:hover{
   text-decoration: underline;
   cursor: pointer;

}

.email-section {
  width: 25%;
}

.email-section h4 {
  font-family: "Averia Serif Libre", serif;
  font-style: italic;
  margin: 0px 0 11px 0;
}

.email-section span,
.email-input input::placeholder {
  font-family: "Outfit", sans-serif;
  font-weight: 100;
  font-size: 13px;
  color: #f8efde;
}

.email-input input {
  border: none;
  outline: none;
  background: transparent;
  font-family: "Outfit", sans-serif;
  color: #f8efde;
  width: 90%;
}

.email-input input:focus {
  border-bottom: 1px solid #f8efde;
}

.email-input button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  color: #f8efde;
  width: 10%;
}

.email-input {
  width: 80%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f8efde;
  margin-top: 15px;
}

.email-input form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-bottom-section {
  height: 30%;
  width: 90%;
}

.copyright-section {
  font-family: "Outfit", sans-serif;
  font-weight: 10;
  height: 70%;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  align-items: center;
}
